.container{
  position: relative;
  top: 100px;
  width: auto;
  height: auto;
  margin: auto;
  background: none;
}

.container .list-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .list-product li{
  margin-right: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.container .list-product li .container_image{
  position: relative;
  width: 380px;
  height: 592px;
  background: #C0C0C0;
}

.container .list-product li .container_image img{
  position: relative;
  width: 380px;
  height: 532px;
}

.container .list-product li .container_image .information_product{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #51B5FB;
  display: flex;
}

.container .list-product li .container_image .information_product .name_product{
  font-family: Arial;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  margin-left: 10px;
  width: 200px;
  top:10px;

}

.container .list-product li .container_image .information_product .view_more_information{
  position: relative;
  top:10px;
  display: block;
  margin-left: 60px;
  padding: 10px 10px;
  height: 20px;
  line-height: 20px;
  width: auto;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 14px;
  border: 2px solid #FFFFFF;

}